<h1>Agregar nuevo Empleado</h1>
<p>Rellene los campos correctamente</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <!--
  <div class="form-group">
    <label for="exampleInputEmail1">ID</label>
    <div class="col-md-3">
      <input class="form-control" placeholder="Ingrese el ID del empleado">
    </div>

  </div>
  -->

  <div class="form-row">
    <div class="form-group col-md-6">
      <h5 for="exampleInputEmail1">Nombre</h5>
      <input class="form-control" placeholder="Ingrese el nombre" formControlName="nombre">
    </div>

    <div class="form-group col-md-6">
      <h5 for="exampleInputEmail1">Apellido</h5>
      <input class="form-control" placeholder="Ingrese el apellido" formControlName="apellido">
    </div>
  </div>

  <div class="form-group">
    <h5 for="exampleInputEmail1">País</h5>
    <input class="form-control" placeholder="Ingrese el país" formControlName="pais">
  </div>

  <div class="form-group">
    <h5 for="exampleInputEmail1">Dirección</h5>
    <input class="form-control" placeholder="Ingrese la dirección" formControlName="direccion">
  </div>

  <div class="col text-center">
    <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
  </div>
  
</form>
